<div class="carousel-container">
    <carousel [isAnimated]="true">
        <slide>
            <img src="assets/images/img1.jpg" alt="slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/images/img2.jpg" alt="slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/images/img3.jpg" alt="slide" style="display: block; width: 100%;">
        </slide>
    </carousel>
    <section class="featured">
        <div class="d-flex justify-content-center pt-4">
            <h1>Welcome to the Shop!</h1>
        </div>
    </section>
</div>


