<div class="container mt-5">
    <div *ngIf="(basketService.basketSource$ | async) === null">
        <p>There are no items in your basket</p>
    </div>

    <ng-container *ngIf="(basketService.basketSource$ | async) as basket">
        <div class="container mb-5">
            <div class="row">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-light text-uppercase">
                            <tr>
                                <th><div class="py-2">Product</div></th>
                                <th><div class="py-2">Price</div></th>
                                <th><div class="py-2">Quantity</div></th>
                                <th><div class="py-2">Total</div></th>
                                <th><div class="py-2">Remove</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of basket.items">
                                <th>
                                    <div class="p-2 d-inline-clock">
                                        <img src="{{item.pictureUrl}}" 
                                             alt="{{item.productName}}" 
                                             class="img-fluid"
                                             style="max-height: 50px;">
                                    </div>
                                    <div class="ms-3 d-inline-block align-middle">
                                        <h5 class="mb-0">
                                            <a routerLink="/shop/{{item.id}}" class="text text-decoration-none">
                                                {{item.productName}}
                                            </a>
                                        </h5>
                                        <span class="text-muted fst-italic">
                                            Type: {{item.type}}
                                        </span>
                                    </div>
                                </th>
                                
                                <td class="align-middle"><strong>{{item.price | currency}}</strong></td>
                                <td class="align-middle">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-minus-circle text me-2" 
                                            style="cursor: pointer; font-size: 2em;"
                                            (click)="removeItem(item.id, 1)"
                                        ></i>
                                        <strong style="font-size: 1em;">{{item.quantity}}</strong>
                                        <i class="fa fa-plus-circle text mx-2" 
                                            style="cursor: pointer; font-size: 2em;"
                                            (click)="incrementQuantity(item)"
                                        ></i>
                                    </div>
                                </td>
                                <td class="align-middle"><strong>{{item.price * item.quantity | currency}}</strong></td>
                                <td class="align-middle">
                                    <a class="text-danger">
                                        <i 
                                            class="fa fa-trash" 
                                            style="font-size: 2em; cursor: pointer;"
                                            (click)="removeItem(item.id, item.quantity)"
                                        ></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-3">
                    <div class="col-6 offset-6">
                        <app-order-totals></app-order-totals>
                        <div class="d-grid">
                            <a routerLink="/checkout" class="btn btn-outline-primary py-2">
                                Proceed to checkout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </ng-container>
</div>