.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background: rgb(255, 145, 0);
    color: white;
    text-align: center;
    top: 2px;   /* Adjust to vertically center the number next to the text */
    right: -30px; /* Adjust this value based on your design */
    line-height: 25px; /* Ensures the text is centered within the circle */
}

a {
    text-decoration: none;
    color: #343a40;

    &.active {
        color: orange
    }
}

.logo {
    cursor: pointer;
}