.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background: rgb(255, 145, 0);
    color: white;
    text-align: center;
    top: 50%;
    right: -30px;
    line-height: 25px;
    transform: translateY(-50%);
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #343a40;

    &.active {
        color: orange
    }
}

.logo {
    cursor: pointer;
}